"usr4",17                               
8
"=================================================="
"  FRAMES User Defined Module"
"  Version 1.5"
"  Site Index: 1"
"  Module Index: 1"
"  Module Name: usr4"
"  Created:  5/21/2004 12:47:16 PM"
"=================================================="
1
"all","Soil",50,"m",50,"m",10,"m",2
"CARBON-14","C14","yr","pCi/kg",2,0
0,10
100,10
"TRITIUM (elemental)","H3-EL","yr","pCi/kg",2,0
0,10
100,10
