"usr9",23                               
8
"=================================================="
"  FRAMES User Defined Module"
"  Version 1.5"
"  Site Index: 1"
"  Module Index: 1"
"  Module Name: usr9"
"  Created:  5/20/2004 2:26:06 PM"
"=================================================="
1
"all","Soil",50,"m",50,"m",10,"m",2
"Benzene","71432","yr","mg/kg",5,0
0,10
25,20
50,30
75,20
100,10
"STRONTIUM-90","SR90","yr","pCi/kg",5,0
0,10
25,20
50,30
75,20
100,10
