"src11",0000000014
7
"=================================================="
"  FRAMES Known Source Module"
"  Version 1.00 September 1, 1997"
"  Run: D:\FUI\~glyph"
"  Site: Scenario 1"
"  08-17-1999"
"=================================================="
1
"src11","Vadose",1
"Source",50.0,"m",50.0,"m",10.0,"m",1
"Benzene","71432","yr","g/kg",2,0
0.0,20.0
150.0,20.0
