"src11",0000000023
7
"=================================================="
"  FRAMES Known Source Module"
"  Version 1.00 September 1, 1997"
"  Run: D:\FUI\~glyph"
"  Site: Scenario 1"
"  09-08-1999"
"=================================================="
1
"src11","Vadose",1
"Source",50.0,"m",50.0,"m",10.0,"m",2
"Benzene","71432","yr","g/kg",5,0
0.0,10.0
25.0,20.0
50.0,30.0
75.0,20.0
100.0,10.0
"STRONTIUM-90","SR90","yr","pCi/kg",5,0
0.0,10.0
25.0,20.0
50.0,30.0
75.0,20.0
100.0,10.0
