"usr6",14                               
8
"=================================================="
"  FRAMES User Defined Module"
"  Version 1.5"
"  Site Index: 1"
"  Module Index: 1"
"  Module Name: usr6"
"  Created:  5/27/2004 2:56:16 PM"
"=================================================="
1
"all","Soil",50,"m",50,"m",10,"m",1
"STRONTIUM-90","SR90","yr","pCi/kg",2,0
0,10
100,10
