"src2",17                               
7
"================================================================================"
"  Source Term Release Module Version: Framework PoP  January 1997  "
"  Run:","c:\temp\randal\(tmp)"
"  Site:","src2"
"  Run Performed:","6/10/2003","15:35:22"
"  Output Filename:","c:\temp\randal\(tmp).scf"
"================================================================================"
1
"All","soil",10,"m",10,"m",10,"m",1
"Chromium VI","7440473","yr","mg/Kg",6      ,0
0,0.0006666666595
1,0.0006648270064
2,0.0006629923009
3,0.0006611627759
4,0.000659338315
5,0.00065751886
