"src2",0000000020
7,
"================================================================================",
"  Source Term Release Module Version: Framework PoP  January 1997  ",
"  Run:","D:\FUI\~glyph",
"  Site:","src2",
"  Run Performed:","4/13/1999","11:7:55",
"  Output Filename:","D:\FUI\~glyph.scf",
"================================================================================",
1,
"src2","Vadose",1,
"Source",10,"m",10,"m",10,"m",1,
"Benzene","71432","yr","g/Kg",         8,0,
0,0.6666666865,
1,0.5058469772,
2,0.383821696,
3,0.3026021421,
4,0.2327989191,
5,0.1766409427,
6,0,
7,0,
