"src8",20
8
"=================================================="
"  FRAMES User Defined Module"
"  Version 1.4"
"  Site Index: 1"
"  Module Index: 1"
"  Module Name: src8"
"  Created:  10/28/2003 9:01:38 AM"
"=================================================="
1
"all","Soil",1,"m",2,"m",3,"m",1
"Antimony","7440360","yr","mg/kg",8,0
3,1
4,2
5,3
6,4
8,5
9,6
10,6
11,7
"src9",17                               
8
"=================================================="
"  FRAMES User Defined Module"
"  Version 1.4"
"  Site Index: 1"
"  Module Index: 2"
"  Module Name: src9"
"  Created:  10/28/2003 9:01:40 AM"
"=================================================="
1
"all","Soil",5,"m",4,"m",3,"m",1
"Antimony","7440360","yr","mg/kg",5,0
10,10
11,9
12,8
13,7
14,6
